{% extends 'base.html' %}

{% block content %}

<div class="container main">
    <div class="col-12 text-center">
            <div class="col-12 offset-md-1 col-md-10">
                <h1 class="big">Clare Supporter's Club</h1>
                <h3>A club for likeminded individuals who support The Banner County</h3>
                <br> {% if user.is_authenticated %}
                <h3>Welcome back <span>{{ request.user.username }}</span>!</h3>
                {% else %}
                <h3>Welcome!</h3>
                {% endif %}
                <strong><p>
                    Here at Clare Supporter's Club we offer an online community of likeminded supporters to become a part of one club.
                    <br> Clare hurling supporters fundraising to support Clare hurling from development squads to senior, giving fans the opportunity to give back to their county.
                    <br> Here at Clare Supporter's Club we offer Clare GAA gear at discounted rates for members of the club, all profits going back to the county.</strong></p>
                    <br>
                    <br>
            </div>
        </div>

</div>
<div class="row row-flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p><span class="glyphicon glyphicon-eur" aria-hidden="true"></span>{{ product.price }}</p>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </span>
                </div>
            </form>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
