/* CSS for base.html */

body {
    font-family: Arial;
    padding-top: 90px;
    background-image: url("/static/images/bg.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

h1 {
    display: block;
    font-size: 4.5em;
    color: #1d5c9a;
    margin-top: 50px;
    margin-left: 100px;
}

h3 {
    color: #1d5c9a;
    font-weight: bolder;
}


.icon-bar {
    background-color: yellow;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 2;
    float: left;
}

.search {
    float: right;
}

.logo {
    line-height: 57px;
}


.navbar {
    min-height: 80px;
}

.navbar a {
    font-size: 1.8rem;
}

.navbar-masthead {
    padding: 0 15px;
    height: 80px;
    line-height: 57px;
}

.container>.navbar-header>.nav {
    padding-top: 12px;
}


/*--Carousel--*/

.item {
    height: 50vh;
    min-height: 180px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    font-size: 18px;
    color: #fff!important;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

.home-text {
    color: #fff;
}

/* CSS for bootstrap forms */

legend {
    color: #1d5c9a;
}

.form-group {
    color: #1d5c9a;
}

.accountform {
    padding-top: 20px;
}

.btn-login {
    margin-top: 10px;
    display: block;
}

.password-reset {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.alert {
    background-color: #1995dc;;
    border-color: #1995dc;;
    color: #ffff00;
}

label {
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    float: left;
    padding-top: 5px;
}

/* Styling for products */

.sub-title {
    margin-top: 50px;
    margin-left: 100px;
}

.welcome {
    margin-left: 100px;
    margin-bottom: 50px;
}


.home-page-text {
    font-weight: bold;
    color: #1d5c9a;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 2rem;
    text-align: center;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    background-color: transparent;
    padding: 0 10px;
}

.panel {
    background-color: transparent;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.main-text {
    margin-left: 10px;
}


/* Checkout html */

.total {
    margin-left: 10px;
}

.payment {
    margin-left: 15px;
}

.product-description {
    min-height: 40px;
    color: #1d5c9a;
    font-weight: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

/* Footer and Social Styles */

.page-footer {
    border-color: #fff;
    color: #ffffff;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.footer-links a {
    color: #fff;
    transition: color .3s ease-in-out;
    padding-top: 0.5rem;
    text-decoration: none;
    font-size: 1.8rem;
}

.my-gmail {
    font-size: 1.8rem;
}
