/* CSS for base.html */
 
body {
    font-family: Arial;
    padding-top: 90px;
    background-image: url("/static/images/bg.JPG"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

h1 {
    display: block;
    font-size: 4.5em;
    color: #1d5c9a;
}

p {
    font-weight: bold;
    color: #1d5c9a;
}

.icon-bar {
    background-color: yellow;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 2;
    float:left;
}


.logo {
    line-height: 57px;
}


.navbar {
  min-height: 80px;
}



.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 57px;
}

.container>.navbar-header>.nav {
    padding-top: 12px;
}

/* CSS for bootstrap forms */

legend {
    color: #1d5c9a;
}

.form-group {
    color: #1d5c9a;
}

.accountform {
    padding-top: 20px;
}

.btn-login {
    margin-top: 10px;
    display: block;
}

.password-reset {
    display: block;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

label{
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    float: left;
    padding-top: 5px;
}
/* Styling for products */

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    background-color: transparent;
    padding: 0 10px;
}

.panel {
    background-color: transparent;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}


/* Checkout html */

.total {
    margin-left: 10px;
}


.product-description {
    min-height: 40px;
}