{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Clare Supporter's Club</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


</head>

<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-brand navbar-default navbar-fixed-top" style="background-color: #1d5c9a;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo.png' %}" class='logo' alt="clare hurling icon" height="40" width="40"/></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Clare Supporter's Club</a>
            </div>

            <!-- put in the collapsible button for the website which displays on small screens only -->
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profile</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i>Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i>Register</a></li>
                    <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Log In</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
  
        <div class="container">
        <div class="row">
        <div class="display search">
            <form action="{% url 'search' %}" method="get">
                <input style="width:300px;" type="text" name="q" placeholder="Search the site">
                <button type="search" class="btn btn-primary">Search</button>
            </form>
        </div>
        </div>
     
          
        {% block content %}
        
        {% endblock %}
  </div>
    <footer class="fixed-bottom">
        <div class="container">
            <p>&copy; Claire Gaynor</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6e8a87078f.js"></script>
    {% block head_js %} {% endblock head_js %}


</body>

</html>
